@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<SpreedlyCoreSharp.Domain.Gateway>>
@{
    ViewBag.Active = "Gateway";
    Layout = "_Layout.cshtml";
}

<div class="span12">
    <a href="/gateways/add-test-gateway" class="btn" onclick="return confirm('Are you sure you want to add a test gateway?')">Add Test Gateway</a>

    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Token</th>
                <th>Type</th>
                <th>Redacted?</th>
                <th>3D Auth?</th>
                <th>3D Purchase?</th>
                <th>Created</th>
                <th>Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gateway in Model)
            {
                <tr>
                    <td>@gateway.Token</td>
                    <td>@gateway.GatewayType</td>
                    <td>@gateway.Redacted</td>
                    <td>@gateway.GatewayCharacteristics.Supports3DSecureAuthorize</td>
                    <td>@gateway.GatewayCharacteristics.Supports3DSecurePurchase</td>
                    <td>@gateway.CreatedAt</td>
                    <td>@gateway.UpdatedAt</td>
                    <td>
                        <a href="/gateways/redact/@gateway.Token" class="btn btn-danger" onclick="return confirm('Are you sure, redacting a gateway is permenant.')">Redact</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
