@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<SpreedlyCoreSharp.Domain.Gateway>>
@{
    ViewBag.Active = "Gateway";
    Layout = "_Layout.cshtml";
}

<div class="span12">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Token</td>
                <td>Type</td>
                <td>Redacted?</td>
                <td>3D Auth?</td>
                <td>3D Purchase?</td>
                <td>Created</td>
                <td>Updated</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var gateway in Model)
            {
                <tr>
                    <td>@gateway.Token</td>
                    <td>@gateway.GatewayType</td>
                    <td>@gateway.Redacted</td>
                    <td>@gateway.GatewayCharacteristics.Supports3DSecureAuthorize</td>
                    <td>@gateway.GatewayCharacteristics.Supports3DSecurePurchase</td>
                    <td>@gateway.CreatedAt</td>
                    <td>@gateway.UpdatedAt</td>
                </tr>
            }
        </tbody>
    </table>
</div>
