@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@functions
{

    public string IsActive(string name)
    {
        if (ViewBag.Active == name)
            return "active";

        return "";
    }

}

<!DOCTYPE html>
<html>
<head>
    <title>SpreedlyCoreSharp</title>

    <link type="text/css" rel="stylesheet" href="/Content/bootstrap.min.css" />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .red {
            color: red;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a><a class="brand" href="#">SpreedlyCoreSharp</a><div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="@IsActive("Home")">
                            <a href="/">Home</a>
                        </li>
                        <li class="@IsActive("Payment")">
                            <a href="/payment">Payment Form</a>
                        </li>
                        <li class="@IsActive("3DPayment")">
                            <a href="/3d-secure">3D Payment Form</a>
                        </li>
                        <li class="@IsActive("Transaction")">
                            <a href="/transactions">Transactions</a>
                        </li>
                        <li class="@IsActive("Gateway")">
                            <a href="/gateways">Gateways</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script>
        $("#PaymentForm").validate({
            rules: {
                "credit_card[first_name]": "required",
                "credit_card[last_name]": "required",
                "credit_card[number]": "required",
                "credit_card[verification_value]": "required"
            },
            messages: {
                "credit_card[first_name]": "First name is required!",
                "credit_card[last_name]": "Last name is required!",
                "credit_card[number]": "Please enter your credit card number!",
                "credit_card[verification_value]": "Please enter your security code!"
            },
            errorPlacement: function (error, element) {
                element.next().append(error);
                element.parent().parent().addClass("error");
            },
            success: function (label) {
                label.parent().parent().parent().removeClass("error");
            }
        });
    </script>
</body>
</html>
